Repository saanuregh/tty1: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, biome-fmt

cargo-fmt:
  name: cargo fmt
  language: system
  entry: mise x -- cargo fmt --check
  pass_filenames: false

biome-fmt:
  name: biome format
  language: system
  entry: mise x -- biome format src/static/
  pass_filenames: false

add jitter to scrape interval (±5 min)
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/worker.rs
Due: cargo-fmt

add mise release task
  .claude/skills/release.md
  .mise.toml
Due: none

add icon credits to readme
  README.md
Due: none

add screenshot and update readme description
  .github/screenshot.png
  README.md
Due: none

feat: add j/k navigation, light theme, same-tab links
  src/render.rs
  src/static/state.js
  src/static/style.css
Due: cargo-fmt, biome-fmt

add settings page
  README.md
  src/render.rs
  src/routes.rs
  src/static/settings.js
  src/static/style.css
Due: cargo-fmt, biome-fmt

refactor: split CSS/JS into modular files, add settings customization, bump to 0.2.0
  .mise.toml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/render.rs
  src/render/dashboard.rs
  src/render/mod.rs
  src/render/settings.rs
  src/render/shell.rs
  src/render/utils.rs
  src/static/app.js
  src/static/common.css
  src/static/common.js
  src/static/dashboard.css
  src/static/settings.css
  src/static/settings.js
  src/static/state.js
  src/static/style.css
  src/static/sw.js
Due: cargo-fmt, biome-fmt

docs: update README and CLAUDE.md to reflect current project state
  CLAUDE.md
  README.md
Due: none

fix: code quality, accessibility, and refresh animation
  src/cache.rs
  src/providers/github.rs
  src/routes.rs
  src/static/app.js
  src/static/common.css
  src/static/dashboard.css
  src/static/settings.css
Due: cargo-fmt, biome-fmt

v0.2.1: code quality, UX, accessibility, and tooling
  .biome.jsonc
  .mise.toml
  .pre-commit-config.yaml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  src/cache.rs
  src/client.rs
  src/config.rs
  src/providers/github.rs
  src/providers/hackernews.rs
  src/providers/reddit.rs
  src/render/dashboard.rs
  src/render/settings.rs
  src/routes.rs
  src/static/app.js
  src/static/common.css
  src/static/common.js
  src/static/dashboard.css
  src/static/settings.css
  src/static/settings.js
  src/static/sw.js
  src/worker.rs
Due: cargo-fmt, biome-fmt

bump version to v0.2.2; add cross-platform docker build support
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Due: none

bump version to v0.2.2; add cross-platform docker build support
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: none

bump version to v0.2.3
  Cargo.lock
  Cargo.toml
Due: none

v0.3.0: upgrade toolchain/deps, migrate Reddit to old.reddit, pace+jitter scrapers
  .mise.toml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  biome.json
  src/client.rs
  src/config.rs
  src/providers/github.rs
  src/providers/mod.rs
  src/providers/reddit.rs
  src/render/utils.rs
Due: cargo-fmt, biome-fmt

ci: bump release workflow actions to latest majors
  .github/workflows/release.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  biome-fmt: any of: \.(js|css|json)$
